/* ----- goods list ----- */
.goods_list {
    margin: 0 0 0 -1%;
    padding: 0;
    list-style: none;
}
.goods_block {
    float: left;
    margin-left: 1%;
    margin-bottom: 20px;
    width: 32.33%;
}
.goods_image {
    display: table;
    width: 100%;
    height: 250px;
    text-align: center;
}
.goods_image a {
    display: table-cell;
    vertical-align: middle;
}
.goods_name {
    height: 32px;
    line-height: 16px;
    padding: 10px 0 5px;
    overflow: hidden;
}
.goods_price {
    padding: 0 0 15px;
}
.goods_status {
    padding: 0 0 15px;
}
.goods_status.available {
    color: rgb(125, 194, 125);
}
@media screen and (max-width: 768px) {
    .goods_block {
        width: 99%;
    }
}
/* ----- /goods list ---- */
/* ----- goods_view ----- */
.goods_view .goods_image_block {
    float: left;
    width: 49%;
}
.goods_view .goods_image {
    height: 400px;
}
.goods_view .goods_info {
    float: left;
    margin-left: 2%;
    width: 49%;
}
.goods_view .goods_name {
    font-size: 36px;
}
.goods_view .goods_price {
    font-size: 20px;
}
.goods_view .goods_description {
    padding-top: 20px;
}
.goods_view .goods_features_block {
    float: left;
    width: 100%;
}
.goods_view .goods_features {
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px 4px 0 0;
}
.goods_view .goods_features thead th {
    background: rgb(192, 192, 192);
    padding: 15px 0;
    text-align: center;
}
.goods_view .goods_features tbody th,
.goods_view .goods_features tbody td {
    padding: 10px 15px;
    border-top: 1px solid rgb(221, 221, 221);
}
.goods_view .goods_features tbody tr:nth-child(even) {
    background: rgb(240, 240, 240);
}
/* ----- /goods_view ---- */
/* ----- categories list ----- */
.categories_list .category {
    float: left;
    width: 25%;
}
.categories_list .category a {
    display: block;

    transition:         background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition:    background 0.5s;
}
.categories_list .category a:hover {
    background: rgb(245, 245, 245);
}
.category .category_name {
    text-align: center;
}
/* ----- /categories list ---- */