/* ----- goods list ----- */
.goods_list {
    margin: 0 0 0 -1%;
    padding: 0;
    list-style: none;
}
.goods_list.wide_list {
    margin: 0;
}
.goods_block {
    float: left;
    margin-left: 1%;
    margin-bottom: 20px;
    width: 32.33%;
}
.goods_block_inner {
    display: block;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
}
a.goods_block_inner:hover {
    text-decoration: none;
}
.wide_list .goods_block {
    margin-left: 0;
    width: 100%;
}
.goods_image {
    width: 100%;
    height: 150px;
    text-align: center;
}
.goods_image img {
    max-width: 100%;
    max-height: 100%;
}
.wide_list .goods_image {
    float: left;
    width: 25%;
}
.wide_list .goods_info {
    float: left;
    width: 74%;
    margin-left: 1%;
}
.goods_image a {
    display: block;
}
.goods_name {
    height: 32px;
    line-height: 16px;
    padding: 10px 0 5px;
    overflow: hidden;
}
.wide_list .goods_name {
    float: left;
    width: 100%;
}
.goods_price {
    padding: 0 0 15px;
    color: rgb(0, 0, 0);
}
.wide_list .goods_price {
    float: left;
    line-height: 32px;
    margin-right: 1%;
}
.goods_status {
    padding: 0 0 15px;
}
.goods_producer{
    width: 100%;
    height: 16px;
    font-weight: bold;
    overflow: hidden;
}
.goods_status.available {
    color: rgb(125, 194, 125);
}
@media screen and (max-width: 1500px) {
    .carousel .goods_image {
        height: 100px;
    }
}
@media screen and (max-width: 768px) {
    .goods_block {
        width: 99%;
    }
}
/* ---- carousel --- */
.goods_list.carousel {
    margin: 0;
    padding: 20px;
}
.carousel .goods_block_inner {
    border: 0;
}
.carousel .goods_image {
    height: 100px;
}
.carousel .goods_block {
    margin-left: 0;
    width: 25%;
}
.carousel .goods_block:hover {
    background: rgba(220, 220, 220, 0.3);
}
/* --- /carousel --- */
/* ----- /goods list ---- */
/* ----- goods_view ----- */
.goods_view .goods_image_block {
    float: left;
    width: 49%;
}
.goods_view .goods_gallery_large,
.goods_view .goods_gallery_small {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.goods_view .goods_gallery_small {
    padding: 10px 0;
}
.goods_view .goods_gallery_large .carousel_viewbox,
.goods_view .goods_gallery_small .carousel_viewbox {
    width: 100%;
    overflow: hidden;
}
.goods_view .goods_gallery_large .goods_image {
    position: absolute;
    top: 0;
    width: 500px;
    height: 300px;
}
.goods_view .goods_gallery_small .goods_image {
    position: absolute;
    top: 0;
    width: 120px;
    height: 75px;
}
.carousel_controls {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.carousel_control_previous,
.carousel_control_next {
    margin: 0;
    font-size: 24px;
}
.icon_carousel_control_previous.previous {
    left: 0;
}
.icon_carousel_control_next.next {
    right: 0;
}
a.icon_carousel_control_next.next:hover,
a.icon_carousel_control_previous.previous:hover {
    text-decoration: none;
}
.goods_view .goods_image img {
    max-width: 100%;
}
.goods_view .goods_info {
    float: left;
    margin-left: 2%;
    width: 49%;
}
.goods_view .goods_name {
    font-size: 36px;
}
.goods_view .goods_price {
    font-size: 20px;
}
.goods_view .goods_description {
    padding-top: 20px;
}
.goods_view .goods_features_block {
    float: left;
    width: 100%;
}
.goods_view .goods_features {
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px 4px 0 0;
}
.goods_view .goods_features thead th {
    background: rgb(192, 192, 192);
    padding: 15px 0;
    text-align: center;
}
.goods_view .goods_features tbody th,
.goods_view .goods_features tbody td {
    padding: 10px 15px;
    border-top: 1px solid rgb(221, 221, 221);
}
.goods_view .goods_features tbody tr:nth-child(even) {
    background: rgb(240, 240, 240);
}
/* ----- /goods_view ---- */
/* ----- categories list ----- */
.categories_list .category {
    float: left;
    width: 25%;
}
.colset3 .categories_list .category {
    width: 50%;
}
.categories_list .category a {
    display: block;
    padding: 15px;

    transition:         background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition:    background 0.5s;
}
.categories_list .category a:hover {
    background: rgb(245, 245, 245);
    text-decoration: none;
}
.categories_list .category_image {
    display: table;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}
.categories_list .category_image_inner {
    display: table-cell;
    height: 150px;
    vertical-align: middle;
}
.categories_list .category_image img {
    max-width: 100%;
    max-height: 100%;
}
.category .category_name {
    width: 100%;
    height: 32px;
    line-height: 16px;
    padding-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}
.category .category_description {
    height: 70px;
    line-height: 14px;
    font-size: 12px;
    text-align: justify;
    color: rgb(100, 100, 100);
    overflow: hidden;
}
@media screen and (max-width: 1024px) {
    .categories_list .category {
        width: 50%;
    }
    .colset3 .categories_list .category {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .categories_list .category,
    .colset3 .categories_list .category {
        width: 100%;
    }
}
.inp_filter {
    width:20%;
}
.goods_sort {
    padding-bottom: 10px;
}
.goods_view_type {
    float:right;
}
/* ----- /categories list ---- */